@import "sass-rem";

$text-color-primary: #1D1D1D;
$text-color-secondary: #464646;

$text-size-title: rem(28px);
$text-size-base: rem(14px);
$text-size-small: rem(12px);

$letter-spacing-base: .01rem;

$text-color-white: #FFF;

$btn-color-base: #377DFF;
